<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
    <div class="container">
        <h2>Agregar Autor</h2>
		
        <form class="form-horizontal" action="#" th:action="@{/autor/add}" th:object="${author}" method="post">
            <div class="form-group">
                <label for="nombre" class="control-label col-sm-2">Nombre:</label>
                <div class="col-sm-10">
                	<input th:field="*{nombre}" type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
            </div>

            <div class="form-group">
                <label for="nacionalidad" class="control-label col-sm-2">Nacionalidad:</label>
                <div class="col-sm-10">
                	<input th:field="*{nacionalidad}" type="text" class="form-control" id="nacionalidad" name="nacionalidad" required>
                </div>
            </div>

            <div class="form-group">
                <label for="fecha-nacimiento" class="control-label col-sm-2">Fecha de Nacimiento:</label>
               	<div class="col-sm-10">
                	<input th:field="*{fechaNacimiento}" type="date" class="form-control" id="fecha-nacimiento" name="fecha-nacimiento" required>
			   </div>
            </div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
		            <button type="submit" class="btn btn-primary">Guardar Autor</button>
		        	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				</div>
			</div>
        </form>
    </div>
    <footer th:replace="fragments/footer" />
</body>
</html>
