<!DOCTYPE html>
<html lang="es">

<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Autores</h2>
		<div class="alert alert-success" role="alert" th:if="${autorGuardado}">Autor guardado con éxito</div>
		<p>A continuación, se muestran los autores del sistema:</p>
		<div th:if="${listAuthors.isEmpty()}" class="alert alert-info" role="alert">No existen autores en el sistema
		</div>
		<table id="tableAuthors" class="table table-striped table-responsive-md" th:unless="${listAuthors.isEmpty()}">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Nacionalidad</th>
					<th>Fecha nacimiento</th>
					<!-- Para que funcione el DataTables (la tabla tiene que tener siempre las mismas columnas)-->
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="author: ${listAuthors}">
					<td th:text="${author.nombre}"></td>
					<td th:text="${author.nacionalidad}"></td>
					<td th:text="${author.fechaNacimiento}"></td>
					<td sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{update/{id}(id=${author.id})}">Actualizar</a>
					</td>
					</td>
					<td sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{/libro/add/{id}(id=${author.id})}">Agregar libro</a>
					</td>
					<td sec:authorize="hasAuthority('LECTOR')"></td>
					<td sec:authorize="hasAuthority('LECTOR')"></td>
					<td><a th:href="${'/autor/details/' + author.id}">Detalles</a></td>
				</tr>
			</tbody>
		</table>
		<script>
			$('#tableAuthors').DataTable({
				"columns": [
					null, // Columna Nombre
					null, // Columna Nacionalidad 
					null, // Columna Fecha Nacimiento
					{"orderable": false, "searchable": false}, // Acciones
					{"orderable": false, "searchable": false}, // Acciones
					{"orderable": false, "searchable": false}, // Acciones
				],
			});
		</script>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>