<!DOCTYPE html>
<html lang="es">

<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Copias</h2>
		<!--<a th:href="@{/libro/add}" class="btn btn-primary btn-sm mb-3">Agregar libro</a>-->
		<table id="tableCopies" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titulo</th>
					<th>Estado</th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="copie: ${listCopies}">
					<td th:text="${copie.id}"></td>
					<td th:text="${copie.libro.titulo}"></td>
					<td th:text="${copie.estado}"></td>
					<td>
						<span th:if="${copie.estado.name() == 'BIBLIOTECA' 
										or copie.estado.name() == 'REPARACION' }">
							<a th:href="@{update/{id}(id=${copie.id})}">Actualizar</a>
						</span>
						<span th:unless="${copie.estado.name() == 'BIBLIOTECA' 
											or copie.estado.name() == 'REPARACION'}">
							&nbsp;
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<script>
			$('#tableCopies').DataTable({
				"columns": [
					null, // Columna id
					null, // Columna Titulo 
					null, // Columna Estado
					{"orderable": false, "searchable": false}, // Acciones
				],
			});
		</script>
	</div>
</body>
<footer th:replace="fragments/footer" />

</html>