<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
    <div class="container">
        <h2>Actualizar Copia</h2>
		
        <form class="form-horizontal" th:action="@{/copia/update}" th:object="${copie}" method="post">
			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{libro}">
			<input type="hidden" th:field="*{prestamos}">
            <div class="form-group">
				<label class="control-label col-sm-2" for="estado">Estado:</label>
				<div class="col-sm-10">
					<select id="estadoCopia" class="form-control" name="estado">
						<option th:each="estado : ${estadoCopia}" th:value="${estado}"
							th:text="${estado}"></option>
					</select>
				</div>
			</div>
            
            <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </div>
    <footer th:replace="fragments/footer" />
</body>
</html>
