<!DOCTYPE html>
<html lang="es">

<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Ver lectores</h2>
		<p>A continuación, se muestran los lectores del sistema:</p>
		<div th:if="${lectores.isEmpty()}" class="alert alert-info" role="alert">No existen lectores en el sistema
		</div>
		<div th:unless="${lectores.isEmpty()}" class="table-responsive">
			<table class="table table-hover" id="tableLectores">
				<thead>
					<tr>
						<th>Nº socio</th>
						<th>Nombre</th>
						<th>Teléfono</th>
						<th>Dirección</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="lector : ${lectores}">
						<td th:text="${lector.nSocio}"></td>
						<td th:text="${lector.nombre}"></td>
						<td th:text="${lector.telefono}"></td>
						<td th:text="${lector.direccion}"></td>
						<td><a th:href="${'/lector/details/' + lector.nSocio}">Detalles</a></td>
						<td><a th:href="${'/lector/update/' + lector.nSocio}">Actualizar</a></td>
						<td>
							<form th:action="${'/lector/delete/' + lector.nSocio}" method="post">
								<input type="submit" class="button-danger-action" value="Eliminar"
									onclick="return confirm('¿Está seguro de que quiere eliminar al lector?')"/>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<script>
				$('#tableLectores').DataTable({
					"columns": [
						null, // Columna No socio
						null, // Columna Nombre
						null, // Columna Telefono
						null, // Columna Direccion
						{"orderable": false, "searchable": false}, // Enlace
						{"orderable": false, "searchable": false}, // Enlace
						{"orderable": false, "searchable": false}, // Enlace
					]
				});
			</script>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>