<!DOCTYPE html>
<html lang="es">
	<head th:replace="fragments/head" />
	<body>
		<div class="container">
			<h1>Libros</h1>
			<a th:href="@{autor/add}" class="btn btn-primary btn-sm mb-3">Agregar libro</a>
			<table id="tableAuthors" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th><a>Titulo</a></th>
						<th><a>Tipo</a></th>
						<th><a>editorial</a></th>
						<th><a>año</a></th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="book: ${listBooks}">
						<td th:text="${book.titulo}"></td>
						<td th:text="${book.tipo}"></td>
						<td th:text="${book.editorial}"></td>
						<td th:text="${book.anyo}"></td>
						<td>
							<a th:href="@{autor/update/{id}(id=${book.id})}" class="btn btn-primary">Actualizar</a>
							<a th:href="@{autor/delete/{id}(id=${book.id})}" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
			<script>
			    $('#tableAuthors').DataTable({
					"columns": [
			            null, // Columna Titulo
			            null, // Columna Tipo 
			            null, // Columna Editorial
			            null, // Columna Año
			            { "orderable": false, "searchable": false}, // Acciones
			        ],
				});
			</script>
			</div><!-- Cierra la el if -->
		</div>
	</body>
</html>