<!DOCTYPE html>
<html lang="es">

<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Libros</h2>
		<!--<a th:href="@{/libro/add}" class="btn btn-primary btn-sm mb-3">Agregar libro</a>-->
		<table id="tableBooks" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>ISBN</th>
					<th>Titulo</th>
					<th>Tipo</th>
					<th>Editorial</th>
					<th>Año</th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book: ${listBooks}">
					<td th:text="${book.id}"></td>
					<td th:text="${book.titulo}"></td>
					<td th:text="${book.tipoLibro}"></td>
					<td th:text="${book.editorial}"></td>
					<td th:text="${book.anyo}"></td>
					<td sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{update/{id}(id=${book.id})}">Actualizar</a>
					</td>
					<td sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{/copia/add/{id}(id=${book.id})}">Agregar copia</a>
					</td>
					<td sec:authorize="hasAuthority('LECTOR')"></td>
					<td sec:authorize="hasAuthority('LECTOR')"></td>
					<td><a th:href="${'/libro/details/' + book.id}">Detalles</a></td>
				</tr>
			</tbody>
		</table>
		<script>
			$('#tableBooks').DataTable({
				"columns": [
					null, // Columna Id o ISBN
					null, // Columna Titulo
					null, // Columna Tipo 
					null, // Columna Editorial
					null, // Columna Año
					{"orderable": false, "searchable": false}, // Acciones
					{"orderable": false, "searchable": false}, // Acciones
					{"orderable": false, "searchable": false}, // Acciones
				],
			});
		</script>
	</div>
</body>
<footer th:replace="fragments/footer" />

</html>