<!DOCTYPE html>
<html lang="es">

<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Actualizar Libro</h2>

		<form  class="form-horizontal" th:action="${'/libro/add/' + book.autor.id}" th:object="${book}" method="post">
			<input type="hidden" th:field="*{id}">
			<div class="form-group">
				<label for="titulo" class="control-label col-sm-2">Título:</label>
				<div class="col-sm-10">
					<input th:field="*{titulo}" type="text" class="form-control" id="titulo" name="titulo" required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="tipoLibro">Tipo:</label>
				<div class="col-sm-10">
					<select id="tipoLibro" class="form-control" name="tipoLibro">
						<option th:each="tipoLibro : ${listTiposLibros}" th:value="${tipoLibro}" th:text="${tipoLibro}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="editorial" class="control-label col-sm-2">Editorial:</label>
				<div class="col-sm-10">
					<input th:field="*{editorial}" type="text" class="form-control" id="editorial" name="editorial"
						required>
				</div>
			</div>

			<div class="form-group">
				<label for="year" class="control-label col-sm-2">Año:</label>
				<div class="col-sm-10">
					<input th:field="*{anyo}" type="number" class="form-control" id="year" name="year" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Guardar libro</button>
				</div>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
		<hr>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>